  <div class="activity-card" style="background-image:linear-gradient(-225deg, rgba(1,1,1,0.2) 0%, rgba(1,1,1,0.2) 50%), url('<%= cl_image_path activity.photo %>');">
    <h4>
      <%= activity.name %>
    </h4>
    <span class="label-blue">
      <%= activity.trip_type %>
    </span>
    <p>
      <%= activity.description %>
    </p>
  </div>
