    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="100000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <% activities.each_with_index do |activity, index| %>
            <% if activity.photo? %>
              <li data-target="#carousel-example-generic" data-slide-to="<%= index + 1 %>"></li>
            <% end %>
          <% end %>
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner custom-carousel-height" role="listbox">
      <div class="item active trip-photo">
        <%= cl_image_tag trip.photo, class: "d-block w-100 carousel-show"%>
      <span class="label-brand bordered">
        $<%= @trip.price_experience %>
      </span>
      </div>
      <% activities.each do |activity| %>
        <% if activity.photo? %>
          <div class="item">
            <%= cl_image_tag activity.photo, class: "d-block w-100 carousel-show"%>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
