// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$brand-color: #75b4ec;
$dark-blue: #476C9B;
$brand-offblack: rgb(15, 15, 15)
