.edit-user h2 {
  color: #25283D;
  font-size:40px;
  font-weight: lighter;
  letter-spacing: 1px;
  border-bottom: 1px solid #25283D;
  margin: 100px auto;
  width: 30%;
  padding-bottom: 15px;

}

.cancel h3 {
  margin-top: 50px;
  color: #25283D;
  font-size:25px;
  font-weight: lighter;
  letter-spacing: 1px;
  border-top: 1px solid #25283D;
  padding-top: 20px;
}

.cancel p {
  color: #7C90A0;
  font-size:18px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.cancel a:hover {
  text-decoration: none;
}
