.booking-trip-page-wrapper {
  .trip-name, .trip-location {
    font-family: 'Open Sans', sans-serif;
    // letter-spacing: 1px;
    // color: rgb(100, 100, 100);
    text-align: center;

    color: #25283D ;
    font-weight: lighter;
    letter-spacing: 1px;

    margin: 20px auto;
    width: 400px;
    padding-bottom: 15px;
  }

  .trip-name {
    font-size: 40px;
    margin-top: 30px;
    border-bottom: 1px solid #25283D ;
  }
  .trip-location {
    font-size: 30px;
    margin-bottom: 2px;
  }

  .trip-card-banner{
    min-height: 400px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-position: center;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    // margin-top: 40px;
    background-size: cover;
    .trip-price {
      padding: 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      font-weight: lighter;
      font-size: 18px;
      background-color: white;
      color: #7F7EFF;
      box-shadow: 1px 1px 2px lightgrey;

    }
  }

  .trip-description {
    font-family: 'Open Sans', sans-serif;
    color: #25283D ;
    font-weight: lighter;
    letter-spacing: 1px;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
  }
}
