.booking-trip-page-wrapper {
  .trip-name, .trip-location, .hotel-name, .flight-name {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #25283D ;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 20px auto;
    width: 400px;
    padding-bottom: 15px;
  }

  @media only screen and (min-width: 600px) {
    img.d-block{
        margin-top: -20vw;
      }
  }

  .trip-name {
    font-size: 35px;
    margin-top: 30px;
    border-bottom: 1px solid #25283D ;
    padding: 5px
  }

  .trip-location {
    font-size: 25px;
    margin-bottom: 2px;
  }

  .trip-card-banner{
    min-height: 400px;
    background-position: center;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    // margin-top: 40px;
    background-size: cover;
    margin: 0px 100px;
    .label-green {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .trip-price {
      padding: 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      font-weight: lighter;
      font-size: 18px;
      background-color: white;
      color: #7F7EFF;
      box-shadow: 1px 1px 2px lightgrey;

    }
  }
}

.trip-photo {
  .label-green {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
