<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <% if user_signed_in? %>
 <class class="btn btn-primary"><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %></class>
<% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
<% end %>
