.activity-card {
  position: relative;
  background-color: #e4e4e4;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(1,1,1,0.2);
  border: 1px solid #d0cccc;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(1,1,1,0.3);
  .label-blue {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  p {
    font-weight: lighter;
    opacity: 0.8;
  }
}
