.btn-pic {
  color: #7F7EFF;
  border: 2px solid #7F7EFF;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px
}
.btn-pic:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: #3D3A4B;
  border: 2px solid #3D3A4B;
}

.floating-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(1,1,1,0.3);
    text-decoration: none;
    font-size: 24px;
    transform: rotate(0deg);
    transition: all 200ms ease;
    &:hover, &:visited, &:focus, &:active {
      text-decoration: none;
      transform: rotate(20deg);
      box-shadow: 6px 6px 15px rgba(1,1,1,0.3);
    }
  }
}
