.btn-pic {
  color: #7F7EFF;
  border: 2px solid #7F7EFF;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px
}
.btn-pic:hover {
  opacity: 1;
  text-decoration: none;
  color: #25283D;
  border: 2px solid #25283D
}
