.btn-pic {
  color: $brand-color;
  border: 2px solid $brand-color;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  transition: all 200ms ease;
  background-color: transparent;
  width: 100%;
}
.btn-pic:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: #3D3A4B;
  border: 2px solid #3D3A4B;
}

.create_trip {
  font-weight: 600 !important;
  right: 100px;
  padding-top: 10px;
  border: 2px solid $brand-color;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  margin-top: 7px;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $brand-color;
  color: white !important;
  padding-right: 70px;
  padding-left: 70px;
  transition: all 300ms ease;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    border: 2px solid rgba(127, 126, 255, 0.3);
    background-color: rgba(127, 126, 255, 0.3);
    color: $brand-color !important;
  }
}

.floating-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(1,1,1,0.3);
    text-decoration: none;
    font-size: 24px;
    transform: rotate(0deg);
    transition: all 200ms ease;
    &:hover, &:visited, &:focus, &:active {
      text-decoration: none;
      transform: rotate(10deg);
      // box-shadow: 6px 6px 15px rgba(1,1,1,0.3);
    }
  }
}

.buttons-shared.btn-pic {
  margin-right:10px;
  margin-left:10px;
}

.buttons-shared {
  margin-bottom: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.buttons-shared i.fa {
  color: rgb(112, 119, 132);
  font-size: 30px;
  padding-left:5px;
  padding-right:5px;
  margin-top:10px;
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
}

@media(max-width: 768px) {
.buttons-shared {
  margin-bottom: 30px;
  position: absolute;
  bottom:1px;
  right: 3px
  }
}



.btn-picn {
  color: $brand-color;
  border: 2px solid $brand-color;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 60px;
  transition: all 200ms ease;
  font-size: 15px;
}
.btn-picn:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: $dark-blue;
  border: 2px solid $dark-blue;
}

.btn-pic.btn-activity {
  position:relative;
  margin-bottom: 0px;
  vertical-align: initial;
}



