.card {
  min-height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  // margin-top: 40px;
  background-size: cover;
}

.card-category .bio {
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 10px;
  }
  .bio-info {
    display: flex;
    flex-direction: column;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  font-size: 15px;
  margin-bottom: 15px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 40px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.total-card {
  margin-top: 70px;
  p {
  overflow: hidden;
  max-height: 50px;
  position:relative;
  font-size: 15px;
  font-weight: lighter;
  }

  h4 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 350;
  }
}

.save_trip {
    position: absolute;
    right: 20px;
    padding-top: 10px;
    border: 2px solid #7F7EFF;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 7px;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;


}

.category-image-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
  top: 13px;

}

.book_trip {
    position: absolute;
    right: 100px;
    padding-top: 10px;
    border: 2px solid #7F7EFF;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 7px;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #7F7EFF;
    color: white;
}

.create_trip {
    right: 100px;
    padding-top: 10px;
    border: 2px solid #7F7EFF;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    margin-top: 7px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #7F7EFF;
    color: white !important;
    padding-right: 100px;
    padding-left: 100px;
}






