.simple_form {
  input {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #25283D;

  }
  p.help-block {
    color: #C19AB7;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: lighter;
  }
}

.simple_form label {
  color: #7A93AC;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
