.simple_form {
  input {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: $brand-color;

  }
  p.help-block {
    color: $dark-blue;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: lighter;
  }
}

.simple_form label {
  color: $dark-blue;
  font-weight: lighter;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
