.label-blue {
  background-color: #b4c6e5;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 13px;
}

.label-brand {
  background-color: $brand-color;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.label-brand.bordered {
  border: 1px solid #dcd8d8;
}
